body {
	text-align: center;
	font-family: Arial;
}

table {
  border-spacing: 0;
  width: 30em;
  height: 30em;
  background-color: #F2F2F2;
  margin: 0 auto;
}

table, td {
  border: 1px solid black;
}

td {
  padding: 0;
  width: 25%;
  height: 25%;
  font-size: 6em;
}

td:hover {
			background-color: grey;
		}

td.taken:hover {
			cursor: default;
			background-color: inherit;
		}